// Branding colors


// background color of website
$bg_color : #f2D6AD;
$A_color  : #D8ba92;
$B_color  : #444545;
$C_color  : #06d6A0;
$D_color  : #d10d0c;

// faded bg color
$bg_colorB: rgba(0, 0, 0, 0.575);

$transparent: rgba(0, 0, 0, 0);




// text color
$fontA: white;
$fontB: black;