@import "color";
@import "global";
@import "header";
@import "footer";

body {
    background-color: aqua;
    display         : grid;
    place-items     : center;
}

// add items v1
// .food {
//     @include image_hover(100%, 100%);
//     overflow : hidden;
//     max-width: 475px;
// }

#clearCart {
    position: fixed;
    bottom  : 10%;
    left    : calc(50% - (127.43px / 2));
}

#cart {
    position        : absolute;
    top             : 5%;
    width           : 80%;
    height          : 80%;
    background-color: blanchedalmond;
    padding         : 25px;
    overflow-y: scroll;

    >h1 {
        text-align: center;
    }
}

.shell {
    display              : grid;
    grid-template-columns: 1fr 5fr;
    margin               : 10px;
    padding              : 10px;
    border-bottom        : rgba(0, 0, 0, 0.438) dashed 1px;
    border-top           : rgba(0, 0, 0, 0.411) dashed 1px;

    >img:hover {
        color: red;
    }


    .mask {
        font-size : .9rem;
        text-align: right;
        display   : grid;
    }
}